

/* border and spacing for sections on page */
.box {
  border: 3px solid black;
  background-color: #06989d;
  margin: 5px;
  padding: 5px;
}

/* make the center box scrollable */
.scrollable {
  height: 600px;
  overflow-y: auto;
}

.links {
  color: #fdf761;
}

.white {
  background-color: #ffffff;
  border: 3px solid black;
  margin: 5px;
  padding: 5px;
}

/* .mailChimpInput.input {
  width: 250px;
} */

.collapseBtn {
  margin: 5px;
}