html,
body,
#react-root {
  height: 100%;
  background: #bbb;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
  border-radius: 4px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
  border-radius: 4px;
}

.btn_sizeFull {
  display: block;
  width: 100%;
  border-radius: 4px;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 4px;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.loginForm {
  box-sizing: border-box;
  width: 500px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  text-align: center;
}

input {
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
}
/* for if we want to change colors of bootstrap buttons */
button.btn.btn-warning {
  background-color: #fdf761;
  border-color: black;
}

.emailLink {
  color: #fdf761;
}

.btn-primary {
  background-color: #fdf761 !important;
  border-color:#fdf761 !important;
  color: black !important;
  -webkit-box-shadow: 2px 2px 6px 2px #747272 !important; 
  box-shadow: 2px 2px 6px 2px #747272 !important;
}
.whiteText {
  color: white !important;
}
.yellowBackground {
  background-color: #fdf761;
}
ol {
  list-style-position: inside;
}
.greyBackground {
  background-color: #efefef;
}

.btn-success {
    color: #fff;
    background-color: #06989d !important;
    border-color: #06989d !important;
    -webkit-box-shadow: 2px 2px 6px 2px #747272 !important; 
    box-shadow: 2px 2px 6px 2px #747272 !important;

}

