.adminLeft {
  border: 1px solid black;
  height: 700px;
  overflow-y: auto;
  padding: 10px;
}

.onPatrolDisplay {
  height: 350px;
  overflow-y: auto;
  border: 1px solid black;
  padding: 5px;
}

.onCallDisplay {
  height: 350px;
  overflow-y: auto;
  border: 21x solid black;
  padding: 5px;
}