.adminLeft {
  border: 1px solid black;
  height: 700px;
  overflow-y: auto;
  padding: 10px;
}

.onPatrolDisplay {
  background-color: #06989d;
  overflow-y: auto;
  padding: 5px;
  color: white;
  /* text-align: center !important; */
  margin: 5px; 
  border-radius: 5px;
}

.onCallDisplay {
  background-color: #06989d;
  overflow-y: auto;
  padding: 5px;
  color: white;
  /* text-align: center !important; */
  margin: 5px; 
  border-radius: 5px;
}
ul {
  list-style-position: outside;
}