.header {
  margin: 0px 0px 0px;
  padding: 5px;
  background-color: #06989d;
  overflow: hidden;
  

}

.titleContainer {
  
  /* display: flex;
  justify-content: space-between;
  align-self: flex-end;
  flex-direction: column; */
  background-color: #06989d;
  -webkit-box-shadow: 2px 2px 6px 2px #747272 !important; 
  box-shadow: 2px 2px 6px 2px #747272 !important;
  padding-bottom: 10px;
  margin-bottom: 15px;

}

.headerBtns {
  /* float: right; */
  padding: 10px;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  font-size: 1.1rem;
  /* align-items: center; */
  /* display: flex;
  align-self: flex-start;
  flex-direction: column; */

}

.toggleBtns.row {
    align-items: center;


}

.incidentBtn {
  /* display: flex; */
  padding: 5px;
  margin: 5px;
  justify-content: space-between;
  -webkit-box-shadow: 2px 2px 6px 2px #022324 !important; 
  box-shadow: 2px 2px 6px 2px #022324 !important;
  /* align-self: flex-end; */
}

.incidents:hover {
  /* padding: 5px; */
  border-radius: 4%;
  background-color: #fdf761;
  cursor: pointer;
  color: black;
}

.patrolDisplay {
  padding-top: 25px;
  color: white;
  text-align: center !important;
  border: 1px solid black;
  margin: 5px; 
  padding: 5px;
  border-radius: 5px;
}

label {
  display: inline-block;
  margin: .5rem;
}

.btn-warning {
  background-color: #fdf761 !important;
  border-color:#fdf761 !important;
  color: black !important;
  padding: 35px;
  /* text-align: right !important; */
  background-color: #fdf761;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 6px 2px #022324 !important; 
  box-shadow: 2px 2px 6px 2px #022324 !important;
}