/* border and spacing for incident modules */
.module {
  border: 2px solid black; 
  background: #ffffff; 
  padding: 5px;
  margin: 5px;
  width: 100%;
}

/* move status text to right side */
.active {
  float: right;
}

select#assignClaim {
  word-wrap: normal;
  padding: 3px;
  margin-top: 10px;
  -webkit-box-shadow: 1px 1px 6px 2px #aca9a9 !important; 
  box-shadow: 1px 1px 6px 2px #aca9a9 !important;
}