/* border and spacing for incident modules */
.module {
  border: 2px solid black; 
  background: #ffffff; 
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 6px 2px #6f6f6f; 
  box-shadow: 2px 2px 6px 2px #6f6f6f;
}

