/* CSS for table styling */
/* 
table {
  table-layout: fixed;
}

table, th, td {
  width: 80%;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  margin: auto;
  overflow: auto;
}

table th {
background-color: #d2d2d2;
font-weight: normal;
}

table tr:nth-child(even) {
background-color: #efefef;
}

table tr:nth-child(odd) {
background-color: #ffffff;
}

.foot {
  background-color: #d2d2d2;
}

.trash:hover {
  background-color: rgb(255, 23, 23);
}

.edit:hover {
  background-color: rgb(236, 255, 62);
} */

.editModal {
  text-align: center;
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.EditIncidentTableHeader {
  display: inline-flex;
}

.EditIncidentTableHeader div {
  padding: 55px;
}

.EditIncidentTableHeader div:hover {
  background-color: aqua;

}

.dropdown {
  background-color: #d2d2d2;
}

.dropdowndata {
  background-color: #efefef;
}

.tabletitle {
  text-align: center;
}